@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(90deg, #4743d0, #880868);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
}

input, button {
    background-color: #fff;
    border: none;
    font-size: 1.2rem;
    padding: 15px 20px;
}

h1 {
    font-size: 3rem;
    color: #fff;
    margin-top: 1rem;
}

input {
    font-weight: bold;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
}

.poke-container {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
}

.poke-box {
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    padding:10px;
    margin: 15px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.poke-box:hover {
    transform: scale(1.1)
}

.poke-box img {
    margin: 10px 0;
    width: 80%;
}

.poke-box h4 {
    font-size: 1.4rem;
    margin: 5px auto;
}

.poke-box p {
    margin: 5px auto;
}